/Practica_1/.idea/
/Practica_1/cmake-build-debug/
/Practica_2/.idea/
/Practica_2/cmake-build-debug/
/Practica_3/.idea/
/Practica_3/cmake-build-debug/
/Practica_4/.idea/
/Practica_4/cmake-build-debug/
/Practica_5/.idea/
/Practica_5/cmake-build-debug/
/Practica_6/.idea/
/Practica_6/cmake-build-debug/
/Practica_7/.idea/
/Practica_7/cmake-build-debug/
/Practica_8/.idea/
/Practica_8/cmake-build-debug/
cleanGit.sh
mvToSrc.sh
